#root {
  height: 100vh;
}
body{

}
.transition-effect {
  transition: all 0.7s;
}

.box-shadow{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
/* .box-shadow-dark:hover{
  position: relative;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
} */

input[type="search"] {
  outline: none;
}
*{
  box-sizing: border-box;
  margin: 0;
}

.radio{
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  align-items: center;
}
input[type="radio"]{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #0b1cd5f9; /* Border color */
  border-radius: 50%; /* Make it a circle */
  background-color: #fff; /* Background color (unselected state) */
  transition: background-color 0.3s ease-in-out; 
}
input[type="radio"]:checked {
  background-color:#ef4444; /* Background color (selected state) */
}

.position-checkbox{
  display: flex;
  flex-direction: column;
  column-gap: 20px;

}

.checkbox__input{
  margin-right: 10px;
  color:#d92828;
}

input[type="checkbox"] {
  /* Hide the default checkbox */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  /* Define the size and color of the box */
  width: 20px;
  height: 20px;
  padding: 3px;
  border: 2px solid #d92828;
  border-radius: 3px; /* Border color */
  background-color: #fff; /* Background color (unselected state) */
  position: relative;
  transition: background-color 0.3s ease-in-out; /* Add a transition effect */
}

/* Custom styles for the checkbox input when it's checked */
input[type="checkbox"]:checked {
  background-color: white; /* Background color (selected state) */
}

input[type="checkbox"]::after {
  content: "✓"; /* Unicode checkmark symbol */
  color:#d92828; /* Checkmark color */
  position: absolute;
  top: 20%;
  left: 65%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-weight: bold; /* Adjust the size of the checkmark */
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease-in-out; /* Add a transition effect */
}

/* Show the checkmark when the checkbox is checked */
input[type="checkbox"]:checked::after {
  opacity: 1; /* Make the checkmark visible */
}


input[type="range"]{
  -webkit-appearance:none;
  width:100%;
  height: 25px;
  background: linear-gradient(to right, #6d28d9 0%, #6d28d9 100%);
  background-size:100% 10px;
  background-position:center;
  background-repeat:no-repeat;
  overflow:hidden;
  outline: none;
}


input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance:none;
  width:9px;
  height:40px;
  background:black;
  position:relative;
  z-index:3;
  box-shadow:0 0 5px 0 rgba(0,0,0,0.3);
}

input[type="range"]::-webkit-slider-thumb:after{
  content:" ";
  width: 100%;
  height:10px;
  position:absolute;
  z-index:1;
  right:20px;
  top:5px;
  background: white;
  background: linear-gradient(to right, #6d28d9 1%, #6d28d9 70%);
}

.dashboard{
  grid-template-columns: 320px 77%;
}

.product-box{
  -ms-overflow-style: none;
    scrollbar-width: none;
}
.product-box::-webkit-scrollbar {
  display: none;
}
.overFlowScroll{
  -ms-overflow-style: none;
    scrollbar-width: none;
}
.overFlowScroll::-webkit-scrollbar {
  display: none;
}


.highlightBox{
  
}

.highlightBox:hover{
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
